* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
}

/* common */
.btn-1 {
    width: 150px;
    height: 64px;
    padding: 20px 43px;
    background-color: rgb(229, 84, 115);
    color: white;
    font-size: 700;
    line-height: 24px;
    text-align: center;
    border: none;
    cursor: pointer;
    margin: 10px 0px;
    border-radius: 10px;
}

/* header section*/
header {
    width: 100%;
    max-height: 850px;
    background-color: rgba(229, 84, 115, 0.1);
    padding: 50px 50px 0px 50px;


}

.hero {
    max-width: 1140px;
    height: 100%;
    margin: auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;



}

.hero>div {
    margin: 0px 10px;
}

.hero-tittle {
    width: 50%;


}

.hero-tittle h1 {
    font-size: 50PX;
    font-weight: 800;
    line-height: 70px;
    text-align: left;
}

.hero-tittle p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin: 10px 0;
}

.hero .image {
    width: 50%;



}

.hero .image img {
    width: 100%;



}


/* media query */

/* medium devices*/

@media screen and (max-width:900px) {

    .hero {

        justify-content: space-between;
        align-items: center;


    }

    .hero-tittle {
        width: 50%;

    }

    .hero-tittle h1 {
        font-size: 2rem;
        font-weight: 800;
        line-height: 50px;

    }

    .hero .image {
        width: 50%;
    }

    .hero-img img {
        width: 100%;

    }
}

/* small devices */

@media screen and (max-width:700px) {

    .hero {

        flex-direction: column;


    }

    .hero-tittle {
        width: 100%;

    }

    .hero-tittle h1 {
        font-size: 1rem;
        font-weight: 800;
        line-height: 25px;

    }

    .hero-tittle p {
        font-size: 0.5rem;
        font-weight: 800;
        line-height: 10px;

    }

    .hero .image {
        width: 100%;
        text-align: right;
        display: flex;
        justify-content: center;

    }

    .hero .image img {
        width: 50%;


    }

    .btn-1 {
        width: 100px;
        height: 30px;
        line-height: 2px;
        text-align: center;
        cursor: pointer;
        padding: 20px 10px;

    }
}



/* main */

main {
    max-width: 1140px;
    margin: 100px auto;
    text-align: center;

}

/* flower-1 section*/

.flower-1 {
    width: 100%;
    margin: auto;
}

.flower-1 .card-container {
    width: 100%;

}

.flower-1 .tittle {
    max-width: 550px;
    height: 132px;
    margin: auto;
}

.flower-1 .tittle h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
}

.flower-1 .tittle p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px;
}

.flower-1 .card-container {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.flower-1 .card-container .card {
    width: 30%;


}

.flower-1 .card-container .card .img {
    width: 90%;
    height: 90%;
    padding: 50px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.flower-1 .card-container .card .img img {
    width: 100%;
    height: 100%;
}

.flower-1 h5 {
    /* width: 200px;
    height: 35px;
    margin: 20px auto; */

    color: rgb(39, 39, 39);
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    /* text-align: justify; */
    margin: 4% 11% 3% 0%
}

/* media query*/

@media screen and (min-width:280px) and (max-width:700px) {
    .flower-1 .card-container {
        width: 100%;
        margin: auto;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;

    }

    .flower-1 .card-container .card {
        width: 90%;
        margin: 10% auto;



    }

    .flower-1 .card-container .card .img {
        width: 100%;
        height: 100%;
    }

    .flower-1 .tittle {
        width: 80vw;
        margin: auto;
    }

    .flower-1 .tittle h1 {
        font-size: 1.3rem;
        font-weight: 800;
        line-height: 1rem;
    }

    .flower-1 .tittle p {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5rem;
        margin: 5% 0px;
    }

    .flower-1 h5 {
        margin: 5% 0 0 0;
    }

}



/* support section */


.support {
    width: 100%;
    height:320px ;
    margin: 10% auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.support .container{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

/* media query*/

@media screen and (max-width:700px) {
    .support {
        
        height:70% ;
      
    }
    .support .container{
      
        flex-direction: column;
        padding: 20px;
       
    }
}



/* sales section*/


.sales{
    width: 100%;
    height: 500px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}



.sales .container {
    height: 100%;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
} 

.sales .container .tittle{
    width: 50%;
    height: 228px;
    margin: auto;
}

.sales .container .tittle h2{
    font-size: 30px;
    font-weight: 800;
    line-height: 48px;
    text-align: ce;
}

.sales .container .tittle h2 span{
    color:rgb(229, 84, 115) ;
}
.sales .container .tittle p{
    font-size: 18px;
    font-weight: 400;
    line-height:30px
}

.sales .container  .img{
    width: 30%;
    height: auto;
    margin: auto;
}

.sales .container  .img img{
    width: 100%;
    height: 100%;
}


/* media query*/

@media screen and (min-width:280px) and (max-width:600px) {
    .sales{
        width: 100%;
        height: 100vh;
        background: rgba(229, 84, 115, 0.05);
      
    }
    .sales .container {
       flex-direction: column;
       justify-content: center;
       gap: 5%;
    } 

    
    .sales .container .tittle{
        width: 100%;
        
    }
    .sales .container .tittle h2{
        font-size: 1.3rem;
        font-weight: 800;
        line-height: 1.5rem;
      
    }
    .sales .container .tittle p{
        font-size: 1rem;
        font-weight: 400;
        line-height:1.3rem;
        margin: 5% 0px;
    }
    .sales .container  .img{
        width: 80%;
        
    }
    .sales .container  .img img{
        width: 100%;
        
    }
}



/* insta section */

.insta{
    max-width: 100%;
    padding-bottom: 100px
}

.insta .container {
    width: 100%;
    height: 100%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
 

}

.insta .container .tittle{
    width: 50%;
    margin: 5% auto;
}

.insta .container .tittle h3{
   font-size: 1.5rem ;
   font-weight: 800;
   line-height: 2.5rem;
}

.insta .container .tittle p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}

.insta .container .cards{
    display: flex;
    justify-content: center;
   
}

.insta .container .cards > div{
    max-width:342px ;
    max-height: 396px;
    margin: 0 2%;
    
}

.insta .container .cards > div img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

@media screen and (min-width:280px) and (max-width:600px) {
    .insta .container .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .insta .container .cards > div{
   
        margin: 5% 0;
        
    }
}


/* feedback section */

.feedback{
    width: 100%;
    height: 100%;
    padding: 50px;
    background: url(Asset/Rectangle\ 9.png) no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
    border-radius: 16px;
}

.feedback .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback .container h3{
    color:rgb(39, 39, 39);;
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 2.5rem;
}
.feedback .container p{
    color: rgba(39, 39, 39, 0.6);
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
}

.feedback .container .input{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;

}

.feedback .container input[type='email']{

    width: 70%;
    height: 50px;
    border-radius: 8px;
    background-color: white;
    border: none;
    text-align: center;
    margin: 0 2%;
}



.feedback .container .input button{
    width: 20%;
    height: 50px;
    margin: 0;
    padding: 0;
}


/* media query*/

@media screen and (min-width:280px) and (max-width:600px) {
    
    .feedback .container h3{
        font-size: 1.2rem;
    }
    .feedback .container p{
        font-size: 0.7rem;
    }
    .feedback .container .input{
        flex-direction: column;
        align-content: space-evenly;
    
    }

    .feedback .container input[type='email']{

        width: 100%;
        height: 50px;
        border-radius: 8px;
        background-color: white;
        border: none;
        text-align: center;
        margin: 10% 2%;
    }

    .feedback .container .input button{
        width: 100%;
    }

    
}

/* footer section */

footer{
    width: 100%;
    height: 100%;
    
    background: rgb(17, 16, 16);
    color: white;
    text-align: center;
}

footer .container{
    max-width: 650px;
    height: 100%;
    margin:  auto;
    padding: 15% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

footer .container h3 span{
    color: rgb(229, 84, 115);
}
footer .container h3{
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.5rem;
}
footer .container p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-top: 3%;
}
footer .container .p2{
    color: rgba(255, 255, 255, 0.5);
   
}